In [1]:
input = int(input("enter a number here : "))
for i in range (1,6,1):
    print(input*i)

enter a number here : 100
100
200
300
400
500

In [1]:
for i in range (1,6):
    print("Good Morning")

Good Morning
Good Morning
Good Morning
Good Morning
Good Morning

In [5]:
indian_employees = [["Raj", "Patel"], ["Priya", "Sharma"], ["Amit", "Kumar"], ["Neha", "Singh"]]

for first_name, last_name in indian_employees:
    email_address = f"{first_name.lower()}{last_name.lower()}@gmail.com"
    print(f"{first_name} {last_name}: {email_address}")

Raj Patel: rajpatel@gmail.com
Priya Sharma: priyasharma@gmail.com
Amit Kumar: amitkumar@gmail.com
Neha Singh: nehasingh@gmail.com

In [5]:
indian_employees = [["Raj", "Patel"], ["Priya", "Sharma"], ["Amit", "Kumar"], ["Neha", "Singh"]]
for first_name , last_name in indian_employees:
    email_address = f"{first_name.lower()}{last_name.lower()}@gmail.com"
    print(f"{first_name} {last_name}: {email_address}")

Raj Patel: rajpatel@gmail.com
Priya Sharma: priyasharma@gmail.com
Amit Kumar: amitkumar@gmail.com
Neha Singh: nehasingh@gmail.com

In [7]:
indian_employees = [["Raj", "Patel"], ["Priya", "Sharma"], ["Amit", "Kumar"], ["Neha", "Singh"]]
for first_name , last_name in indian_employees:
    email_address = f"{first_name}{last_name}@gmail.com"
    print(f"{first_name} {last_name}: {email_address}")

Raj Patel: RajPatel@gmail.com
Priya Sharma: PriyaSharma@gmail.com
Amit Kumar: AmitKumar@gmail.com
Neha Singh: NehaSingh@gmail.com

Write a Python program to print all the numbers from 1 to 10 using a for loop

In [8]:
for i in range (1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

 Write a Python program to find the sum of all numbers from 1 to 100 using a for loop

In [13]:
total_sum = 100
for num in range (1,101):
    total_sum +=num
    print(total_sum)

101
103
106
110
115
121
128
136
145
155
166
178
191
205
220
236
253
271
290
310
331
353
376
400
425
451
478
506
535
565
596
628
661
695
730
766
803
841
880
920
961
1003
1046
1090
1135
1181
1228
1276
1325
1375
1426
1478
1531
1585
1640
1696
1753
1811
1870
1930
1991
2053
2116
2180
2245
2311
2378
2446
2515
2585
2656
2728
2801
2875
2950
3026
3103
3181
3260
3340
3421
3503
3586
3670
3755
3841
3928
4016
4105
4195
4286
4378
4471
4565
4660
4756
4853
4951
5050
5150

Write a Python program to print the multiplication table of a given number using a or loop

In [4]:
num = int(input("Enter a Number Here : "))
for i in range (1,11):
    print(num, "*", i, "=", num*i)

Enter a Number Here : 15
15 * 1 = 15
15 * 2 = 30
15 * 3 = 45
15 * 4 = 60
15 * 5 = 75
15 * 6 = 90
15 * 7 = 105
15 * 8 = 120
15 * 9 = 135
15 * 10 = 150

Write a Python program to count the number of even and odd numbers from a series of numbers using a for loop

In [5]:
list = [3,15,20,36,29,68,85,54,99,74,56,
       87,41]
even = 0
odd = 0
for num in list:
    if num%2 ==0:
        even += 1
    else:
        odd += 1
print("Even numbers in the list: ", even)
print("odd numbers in the list: ", odd)

Even numbers in the list:  6
odd numbers in the list:  7

Find even and odd from this list: [1,2, 3, 4, 5, 6, 7, 8, 9, 10]

In [6]:
list= [1,2, 3, 4, 5, 6, 7, 8, 9, 10]
even = 0
odd = 0
for num in list:
    if num%2 ==0:
        even +=1
    else:
        odd +=1
print("Even numbers in the list: ", even)
print("odd numbers in the list: ", odd)

Even numbers in the list:  5
odd numbers in the list:  5

Write a Python program to find the factorial of a number using a for loop

In [7]:
num = int(input("Enter a Number: "))
factorial = 1
if num<0:
    print("Factorial does not exist")
if num == 0:
    print("Factorial of o is 1 ")
if num>=1:
    for i in range (1,num+1):
        factorial = factorial *i
print("Factorial of the given number is: ", factorial)

Enter a Number: 5
Factorial of the given number is:  120

Write a Python program to print the Fibonacci sequence up to a specified number using a for loop

In [8]:
n = int(input("Enter a Number: "))
x= 0
y=1
z=0
while z<=n:
    print(z)
    x=y
    y=z
    z=x+y

Enter a Number: 10
0
1
1
2
3
5
8

Write a Python program to check if a given number is prime or not using a for loop.

In [10]:
num = int(input("Enter a Number Here: "))
if num == 1:
    print("it is not a prime number ")
elif num >1:
    for i in range (2,num):
        if num % i == 0:
            print("its not a prime number")
            break
    else:
        print("its prime number: ")

Enter a Number Here: 33
its not a prime number

Write a Python program to find the largest element in a list using a for loop.

In [20]:
a = []
size = int(input("Enter the Size of the List: "))
for i in range(size):
    value = int(input("Enter the Number: "))
    a.append(value)
max = a[0]
for i in range(size):
    if(a[i]>max):
        max = a[i]
print("Max number = ", max)

Enter the Size of the List: 3
Enter the Number: 97
Enter the Number: 455
Enter the Number: 4
Max number =  455

In [25]:
a = []
size = int(input("Enter the size of List: "))
for i in range(size):
    value = int(input("Enter the Number: "))
    a.append(value)
max = a[0]
for i in range(size):
    if(a[i]>max):
        max=a[i]
print("Maximum Number is: ", max)

Enter the size of List: 5
Enter the Number: 98
Enter the Number: 45
Enter the Number: 27
Enter the Number: 67
Enter the Number: 81
Maximum Number is:  98

Write a Python program to reverse a given string using a for loop.

In [2]:
a = []
size = int(input("Enter the Size of List: "))
for i in range(size):
    value = int(input("Enter the Number: "))
    a.append(value)
i = 0
j = size-1
while (i < j):
    t = a[i]
    a[i] = a[j]
    a[j] = t
    i=i+1
    j=j-1
print("List after Reverse: ", )
for i in range(size):
    print(a[i])

Enter the Size of List: 4
Enter the Number: 55
Enter the Number: 6
Enter the Number: 89
Enter the Number: 28
List after Reverse:
28
89
6
55

Write a Python program to find the common elements between two lists using a
for loop